@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.mod-bootstrapelements-toggle {
    min-width: 200px;
}

.mod-bootstrapelements-toggle .panel-heading a {
    max-width: 100%;
    white-space: normal;
    display: inline;
}

.panel-heading .accordion-toggle:before {
    font-family: 'FontAwesome';
    content: "\f062";
    margin-right: 5px;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed:before {
    content: "\f063";
}

.bootstrapelements .fa {
    margin-right: 5px;
}