.mod-bootstrapelements-toggle {
	min-width: 200px;
}

.mod-bootstrapelements-toggle .panel-heading a {
	max-width: 100%;
	white-space: normal;
	display: inline;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f062";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    
    content: "\f063";    /* adjust as needed, taken from bootstrap.css */
}

.fa {
    margin-right: 5px;
}